# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
*.iml
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
captures/

# Keystore (don't commit real keys)
# upload-keystore.jks is committed for CI but should be base64 encoded in secrets
